@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27");

.background {
  background: linear-gradient(198.9deg, #001750 42.87%, #4578f9 85.45%);
  height: 100vh;
  width: 100%;
}

.whiteheading {
  /* Shoot for the moon, but do it together. */
  position: absolute;
  width: 536px;
  height: 93px;
  left: 80px;
  top: 350px;

  /* Heading Text - Poppins 48 */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  width: 50%;
}

.text-container {
  padding: 0 1rem;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center
}

.text-field {
  padding: 1rem;
}

.back-to-home {
  color: white;
  font-size: 1rem;
}

.whitebackground {
  width: 35%;
  height: 60%;
  position: absolute;
  /* width: 647px;
  height: 500px; */
  left: 900px;
  top: 223px;

  background: #ffffff;
  border-radius: 15px;
}

.image {
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  alt: "logo";
  margin-left: 25%;
  margin-top: 8px;
  width: 270px;
  height: 60px;
}

.button {
	box-shadow:inset 0px 1px 6px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:7px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}

.buttonfont {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  text-align: center;

  color: #ffffff;
}
